html {
	background-image: url(8RPHFpQk.png);
	background-position: center;
	font-weight: bold;
}
textarea {
	solid: 3px black;
}
h1 {
	color: #b80000;
}
div.errorMessages {
	position: center;
}
div.contribution {
	position: center;
}
div.comment {
	position: center;
}